<br>
<br>
<br>
<form>
  <div class="form-group">
    <label for="originationAirport">Origination Airport:</label>
    <select name="originationAirport" id="originationAirport">
      <option value="ord">O'Hare</option>
      <option value="lag">NY Laguardia</option>
      <option value="bos">Boston</option>
      <option value="bj">Beijing International</option>
    </select>
    <br>

    <label for="destinationAirport">Destination Airport:</label>
    <select name="destinationAirport" id="destinationAirport">
      <option value="bj">Beijing International</option>
      <option value="lag">NY Laguardia</option>
      <option value="bos">Boston</option>
      <option value="ord">O'Hare</option>
    </select>
    <br><br>
  </div>
  <label for="travelDate">Enter travel date:</label>
  <input type="date" id="travelDate" name="travelDate" min="2020-10-20"><br><br>

  <label for="numOfTravelers">Num of travelers:</label>
  <input type="number" id="numOfTravelers" name="numOfTravelers" min=1 [(ngModel)] ="numOfTravelers"><br><br>
  <input type="submit" (click)="calculatePrice(numOfTravelers)" >
</form>
<br><br>
{{result}}

